.Section-Card {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.benefit-img {
    width: 50px;
    height: 100px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
span {
    color: var(--neutral-light-gray);
}